.contact__container{
    background-color: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

.contact-aside{
    background-color: var(--priamry-color);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.contact-img{
    width: 12rem;
    margin-bottom: 2rem;
}

.contact-aside h2{
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.contact-aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact-details li{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.contact-socials{
    display: flex;
    gap: 0.8rem;
    margin-top: 3rem;
}

.contact-socials li{
    background-color: var(--color-bg2);
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 0.9rem;
    transition: var(--transition-all);
}

.contact-socials li:hover{
    background-color: transparent;
}

/***************************** FORM STYLES *******************************************/

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
}

.form-name{
    display: flex;
    gap: 1.2rem;
}

form input[type="text"]{
    width: 50%;
}

form input, textarea{
    width: 100%;
    padding: 1rem;
    background-color: var( --color-background);
    color: var(--color-white);
}

form .btn{
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
}

/***************************** STYLES FOR TABLETS SCREENS *******************************************/

@media screen and (max-width: 1024px){
    .contact{
        padding-bottom: 0;
    }

    .contact__container{
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }

    .contact-aside{
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    form{
        align-self: center;
        margin-right: 1.5rem;
    }
}

/***************************** STYLES FOR MOBILE SCREENS *******************************************/

@media screen and (max-width: 600px){
    .contact__container{
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }

    form{
        margin: 0 1.5rem 3rem;
    }

    .form-name{
        flex-direction: column;
    }

    .form-name input[type="text"]{
        width: 100%;
    }
}